<!DOCTYPE html>
<html>
<head>
  <title>Spotlens</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

  <div class="topbar">
    <span>#spotlens</span>
    <nav role="navigation" id="mainNav">
      <ul>
        <li>
          <a>Gallery</a>
        </li>
        <li>
          <%= link_to('Settings', {:controller => 'admin', :action => 'index'}) %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%= yield %>

</body>
</html>
